<div class="bg-img">
  <form (submit)="loginUser($event)" class="container" action="/action_page.php">
  <h2>Login</h2>
    <div class= "input">
        <label>Username</label>
        <input type="text" required>
    </div>
    <div class="input">
        <label>Password</label>
        <input type="password" required>
    </div>
    <div class="input">
        <input type="submit" class="btn" value="Login">
    </div>
     <h5>Don't have an account?</h5> 
     <h4>
         <a href="register" class="btn">Register Here</a>
     </h4>
        </form>
</div>
